*{
    margin:0;
    padding: 0;
}


/* make primary and store it in var to use it later on */
:root{
    --text-color: rgb(43, 0, 255); 
    --border-color: rgb(106, 0, 255);
}

a{
    text-decoration: none;
}